<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="icon" href="../images/keyboard.png" type="image/icon type">
    <title>Josh's Speed Typer</title>
</head>
<body>
    <header>
        <div class="icon">
            <img src="../images/keyboard.png" alt="keyboard icon">
                <h1>SpeedTyper</h1>
        </div>
        <div class="header-link">
            <h1><a href="/">Home</a></h1>
            <h1><a href="/resources">Resources</a></h1>
            <h1><a href="/">Sign in</a></h1>
        </div>
    </header>
    <section>
        <form action="/resources/show/edit" method="POST">
            <div class="edit">
                <label>Source type:
                    <select name="type">
                        <option value="book">book</option>
                        <option value="movie">movie</option>
                        <option value="music">music</option>
                        <option value="shows">shows</option>
                        <option value="newspaper">newspaper</option>
                        <option value="magazine">magazine</option>
                    </select>
                </label><br>
                <label>Source name:
                    <input type="text" placeholder="eg. Star Wars">
                </label><br>
                <label>Author:
                    <input type="text" placeholder="eg. George Lucas">
                </label><br>
                <label>Published on:
                    <input type="date" placeholder="yyyy/mm/dd">
                </label>
                <p>Content: </p>
                <input class="edit-content" type="text" placeholder="Text messages are used for personal, family, business and social purposes. Governmental and non-governmental organizations use text messaging for communication between colleagues.">
            </div>
            <div class="edit-link-container">
                <div class="edit-link">
                    <a href="/resources">Back</a>
                </div>
                <button class="edit-link" type="submit">Save</button>
            </div>
        </form>
    </section>
</body>
</html>