<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="icon" href="images/keyboard.png" type="image/icon type">
    <title>Josh's Speed Typer</title>
</head>
<body>
    <header>
        <div class="icon">
            <img src="images/keyboard.png" alt="keyboard icon">
                <h1>SpeedTyper</h1>
        </div>
        <div class="header-link">
            <h1><a href="/">Home</a></h1>
            <h1><a href="/resources">Resources</a></h1>
            <h1><a href="/">Sign in</a></h1>
        </div>
    </header>
    <section class="resources-section">
        <div class="resources-link-container">
            <div class="resources-link">
                <a href="/">Main menu</a>
            </div>
            <div class="resources-link">
                <a href="/resources/add">Add new content</a>
            </div>
        </div>

        <div class="resources-main">
            <% array.forEach(obj => { %>
                <div class="resources-small">
                    <a href="/resources/show">
                        <%= obj.name %><br>
                        Author: <%= obj.author %><br>
                        Published: <%= obj.publish %>
                    </a>
                </div>
            <% }) %>
            <div class="resources-small">
                <a href="//resources/show">
                    Star Wars<br>
                    Author: Aidan<br>
                    Published: 1998-06-23
                </a>
            </div>
            <div class="resources-small">
                <a href="/resources/show">
                    Men are form Mars, women are from Venus<br>
                    Author: Someone Name Here<br>
                    Published: 2005-12-30
                </a>
            </div>
        </div>
    </section>
</body>
</html>