<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="icon" href="images/keyboard.png" type="image/icon type">
    <title>SpeedTyper</title>
</head>
<body>
    <header>
        <div class="icon">
            <img src="images/keyboard.png" alt="keyboard icon">
            <h1><a href="/user">SpeedTyper</a></h1>
        </div>
        <div class="header-link">
            <h1><a href="/user">Home</a></h1>
            <h1><a href="/user/resources">Resources</a></h1>
            <% if (visitor) { %>
                <h1><a href="/logout">Log Out</a></h1>
            <% } else { %>
                <h1><a href="/auth/google">Login with Google</a></h1>
            <% } %>
        </div>
    </header>
    <section>
        <div class="index img-practice">
            <p>Enter practicing to improve your typing</p>
            <div class="index-link">
                <a href="/user/practice">Practice yourself</a>
            </div>
        </div>

        <div class="index img-source">
            <p>View resources: add, edit, delete and more</p>
            <div class="index-link">
                <a href="/user/resources">View Collection</a>
            </div>
        </div>

        <div class="index img-history">
            <p>View your practice history</p>
            <div class="index-link">
                <a href="/user/history">View History</a>
            </div>
        </div>
    </section>
</body>
</html>