* {
  box-sizing: border-box;
}

body {
  padding: 0 0;
  margin: 0 0;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 1000px;
  background-color: rgba(235, 235, 235, 0.097);
}

a {
  color: white;
  text-decoration: none;
}

header {
  justify-self: flex-start;
  margin: 0 0;
  padding: 0 0;
  height: 10%;
  width: 100vw;
  background-color: rgb(83, 195, 255);
  display: flex;
}

.header-link {
  width: 73%;
  display: flex;
  justify-content: space-evenly;
}

.header-link > h1 {
  align-self: center;
  height: 35px;
}

.header-link > h1 > a:hover {
  color: black;
}

.icon {
  width: 27%;
  display: flex;
  width: 270px;
}

.icon > h1 {
  padding: 0 0;
  margin: 0 0 0 10px;
  color: white;
  font-size: 30px;
  align-self: center;
}

.icon > h1 > a:hover {
  color: black;
}

.icon > img {
  padding: 0 0;
  margin: 10px 0 0 20px;
  height: 70px;
}

section {
  align-self: center;
  flex-direction: column;
  width: 700px;
  height: 90%;
}

.prompt {
  align-self: center;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px 0 0 15px;
  margin: 70px 0 0 0;
  height: 250px;
  font-size: 20px;
}

.prompt-link {
  height: 45px;
  width: 150px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(42, 184, 42);
  font-size: 20px;
  display: flex;
  padding: 0 0 0 15px;
  align-items: center;
}

.prompt-link:hover {
  background-color: rgb(83, 195, 255);
}

.index {
  align-self: center;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px 0 0 15px;
  margin: 40px 0 0 0;
  height: 200px;
  font-size: 20px;
}

.index-link {
  height: 45px;
  width: 200px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(42, 184, 42);
  font-size: 20px;
  display: flex;
  padding: 0 0 0 15px;
  align-items: center;
}

.index-link:hover {
  background-color: rgb(83, 195, 255);
}

.practice {
  padding: 0 0;
  margin: 80px 0 20px 0;
}

.practice-visual {
  padding: 0 0;
  margin: 0 0;
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  font-size: 15px;
}

.carTrack {
  margin: 0;
  padding: 0 0;
  width: 610px;
  height: 30px;
  border-bottom: 2px dashed black;
}

.car {
  height: 27px;
}

.timer {
  font-size: 20px;
  text-align: right;
}

.practice-type {
  border: 1px solid grey;
  border-radius: 10px;
  /* background-color: rgb(233, 252, 253); */
  padding: 0 0;
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.content-display {
  margin: 20px;
  width: 660px;
  /* height: 100%; */
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: sans-serif;
  font-weight: 600;
  font-size: 22px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.content-input {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  resize: none;
  opacity: 0.87;
  cursor: default;
  border: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 22px;
  background-color: rgba(211, 211, 211, 0.46);
  border-radius: 12px;
  color: transparent;
}

.content-input:focus {
  background-color: transparent;
  cursor: default;
  color: transparent;
  outline: none;
}

span {
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.correct {
  color: #09af00;
  background-color: #89ff895f;
}

.incorrect {
  background-color: rgba(255, 0, 0, 0.35);
  color: red;
}

.cursor {
  background-image: url(data:image/gif;base64,R0lGODlhAQAoAPABAERmZv///yH5BAg1AAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAAQAoAAACBYSPqctYACH5BAg1AAAALAAAAAABACgAgP///////wIFhI+py1gAOw==);
  background-repeat: repeat-y;
}

.invisible > input {
  width: 10px;
  height: 10px;
  opacity: 1;
  cursor: default;
  border: none;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  color: transparent;
}

.invisible > input:focus {
  background-color: transparent;
  cursor: default;
  color: transparent;
  outline: none;
}

.practice-link-container {
  display: flex;
  justify-content: space-between;
}

.practice-link {
  height: 45px;
  width: 150px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(42, 184, 42);
  font-size: 20px;
  display: flex;
  padding: 0 0 0 15px;
  align-items: center;
}

.practice-link:hover {
  background-color: rgb(83, 195, 255);
}

.practice-source {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px 0 15px 20px;
  margin: 50px 0 20px 0;
  font-size: 18px;
  background-color: rgb(223, 248, 255);
}

.practice-source > p {
  padding: 0 0 0 25px;
  margin: 5px 0;
}

.history {
  align-self: center;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
  margin: 50px 0 15px 0;
  font-size: 15px;
}

.history > p {
  font-size: 24px;
  text-align: center;
  margin: 0 0 10px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

table,
th,
td {
  border: 1px solid rgb(83, 195, 255);
}

tr {
  height: 30px;
}

.img-practice {
  background-image: url('../images/practice.png');
}

.img-practice > p {
  color: white;
}

.img-source {
  background-image: url('../images/book.jpg');
}

.img-history {
  background-image: url('../images/chart.jpg');
}

.img-google {
  background-image: url('../images/Google.jpg');
}

.history-link-container {
  display: flex;
  justify-content: space-between;
}

.history-link {
  height: 45px;
  width: 150px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(42, 184, 42);
  font-size: 20px;
  display: flex;
  padding: 0 0 0 15px;
  align-items: center;
}

.average {
  height: 45px;
  width: 200px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(42, 184, 42);
  font-size: 20px;
  display: flex;
  padding: 0 0 0 15px;
  align-items: center;
}

.history-link:hover {
  background-color: rgb(83, 195, 255);
}

.resources-link-container {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 40px 0;
}

.resources-link {
  height: 45px;
  width: 180px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(42, 184, 42);
  font-size: 20px;
  display: flex;
  padding: 0 0 0 15px;
  align-items: center;
}

.resources-link:hover {
  background-color: rgb(83, 195, 255);
}

.resources-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px 40px;
}

.resources-small {
  height: 100px;
  width: 380px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0;
  padding: 5px 0 5px 7px;
  background-color: rgb(74, 183, 255);
}

.resources-small > a {
  margin: 0 0;
  padding: 0 0;
  font-size: 18px;
  font-weight: 500;
  color: white;
  line-height: 29px;
}

.resources-small:hover {
  background-color: rgb(42, 184, 42);
}

.resources-section {
  width: 800px;
}

.show {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 0 20px 20px 20px;
  margin: 50px 0 20px 0;
  font-size: 18px;
  background-color: rgb(223, 248, 255);
}

.show-content {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.show-content > p {
  line-height: 30px;
  font-size: 19px;
  margin: 7px;
}

.show-link-container {
  display: flex;
  justify-content: space-around;
  margin: 40px 0 40px 0;
}

.show-link {
  height: 45px;
  width: 120px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(42, 184, 42);
  font-size: 20px;
  display: flex;
  padding: 0 0 0 15px;
  align-items: center;
}

.show-link:hover {
  background-color: rgb(83, 195, 255);
}

.show-link-btn {
  font-size: 20px;
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.edit {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
  margin: 50px 0 20px 0;
  font-size: 18px;
  background-color: rgb(223, 248, 255);
  line-height: 40px;
}

.edit > p {
  line-height: 30px;
  font-size: 19px;
  margin: 3px 0;
  padding: 0 0;
}

.edit-content {
  background-color: white;
  border: 2px solid grey;
  border-radius: 10px;
  line-height: 25px;
  font-size: 15px;
  width: 655px;
  height: 300px;
}

.edit-link-container {
  display: flex;
  justify-content: space-around;
  margin: 40px 0 40px 0;
}

.edit-link {
  height: 45px;
  width: 100px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(42, 184, 42);
  font-size: 20px;
  display: flex;
  padding: 0 0 0 15px;
  align-items: center;
  color: white;
}

.edit-link:hover {
  background-color: rgb(83, 195, 255);
}
